.App-conteiner{
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  align-items:last baseline;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100vh;
}